<div class="row marketing">

  <div class="col-lg-4">

    <h4>El tiempo en XXX</h4>

  </div>

  <div class="col-lg-8">
    <div class="city-form">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="city" placeholder="Laura, mira el tiempo de ...">
        </div>
        <button type="button" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-4">
    <table class="table">

      <tr>
        <td>Lluvia</td>
        <td>50%</td>
      </tr>
      <tr>
        <td>Humedad</td>
        <td>60%</td>
      </tr>

    </table>
  </div>

  <div class="col-lg-8">
    <tabset>
      <tab heading="Principal">Principal</tab>
      <tab heading="Diario">Diario</tab>
      <tab heading="Horario">Horario</tab>
      <tab heading="Gráfica">Gráfica</tab>
      <tab heading="Mapa">Mapa</tab>
    </tabset>
  </div>

</div>
